<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madlib game</title>
</head>
<body>

    <h1>
        Game started!
    </h1>

    <form action="/madlib" method="POST">
         Please enter your name
        <input type="text" name="person"/>

        <label for="color">Choose a color:</label>
        <select id="color" name="color">
            <option value="blue">Blue</option>
            <option value="green">Green</option>
            <option value="yellow">Yellow</option>
            <option value="red">Red</option>
        </select>

        Noun:
        <input type="text" name="noun"/>

        Adjective:
        <input type="text" name="adjective"/>

        <button type="submit">Submit</button>
        
    </form>
</body>
</html>