<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Greetings | Madlibs!</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <h1>Nice to meet you, {{ name }}.</h1>
    <p>You're very {{ compliment }}.</p>

    <form action="/game" method="POST">

      <p>Would you like to play a game?!</p>

       <input type="radio" name="game" value="yes" id="yes-input"/>
       <label>Yes!</label>

       <input type="radio" name="game" value="no" id="no-input"/>
       <label>No!</label>

       <button type="submit">Let's do this!</button>

    </form>
  </body>

</html>